
.logo img{
    width: auto;
    height: 70px;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header_button{
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  background-color: #000;
}
div#navbarSupportedContent{
  justify-content: space-between;
}






