@media (max-width: 1399.98px) { 

    nav .wrapper{
        padding: 0;
    }
h3{
    font-size: 28px;
    margin-bottom: 23px;
}
h2 {
    font-size: 30px;
    margin-bottom: 55px;
    margin-top: 0;
}
.about_contact p {
    font-size: 15px;
}
.stats-section h2{
 font-size: 34px;
 width: 80%;
 margin: 0 auto;
 text-align: center;
 margin-bottom: 20px;
}

.stat-item {
    border-right: 1px solid #fff;
    margin: 18px 4px 18px 4px;
    padding: 0px 62px 0px 21px;
}

.we_offer_section {
    padding: 84px 0;
}
.we_offer_section .card {
    width: 340px;
}
.why_choose_section .wide-card{
    padding: 24px 18px;
    gap: 25px;
    width: 500px;
    height: 180px;
}
.cta-box h2{
    margin-bottom: 20px;
}







 }

@media (max-width: 1199.98px) { 

.nav-links li a {
    font-size: 16px;
    padding: 0px 8px;
}
.logo img {
    width: auto;
    height: 60px;
}
.hero h1 {
    font-size: 30px;
    max-width: 648px;
    margin: 0 auto 20px;
    padding: 20px 0;
}
.hero p {
    width: 70%;
    font-size: 15px;
}
.split-section {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.we_offer_section .cards-grid{
    padding: 0;
    margin: 0;
}

.services_card_images {
    height: 85px;
    width: auto;
    margin: 14px auto;
}

.we_offer_section .card{
        width: 270px;
            padding: 32px 23px;
    }

.we_offer_section .card h4 {
    font-size: 18px;
    padding: 14px 0;
}


















 }

@media (max-width: 991.98px) { 

 }


@media (max-width: 767.98px) { 

 }

@media (max-width: 575.98px) { 

 }