@media (max-width: 1399.98px) {

    nav .wrapper {
        padding: 0;
    }

    h3 {
        font-size: 28px;
        margin-bottom: 23px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 55px;
        margin-top: 0;
    }

    .about_contact p {
        font-size: 15px;
    }

    .stats-section h2 {
        font-size: 34px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .stat-item {
        border-right: 1px solid #fff;
        margin: 18px 4px 18px 4px;
        padding: 0px 62px 0px 21px;
    }

    .we_offer_section {
        padding: 84px 0;
    }

    .we_offer_section .card {
        width: 340px;
    }

    .why_choose_section .wide-card {
        padding: 24px 18px;
        gap: 25px;
        width: 500px;
        height: 180px;
    }

    .cta-box h2 {
        margin-bottom: 20px;
    }

    .glass-card {
        width: 80%;
    }

    .glass-card h6 {
        font-weight: 500;
    }

    .glass-card h2 {
        width: 80%;
        margin: 40px auto;
        font-size: 34px;
    }

    .about_contact h3 {
        font-size: 34px;
        padding: 10px 0;
    }

    .about_contact h4 {
        font-size: 24px;
    }

    .text_top_values h2 {
        font-size: 34px;
    }

    .value-card h3 {
        font-size: 26px;
        font-weight: 500;
    }

    footer {
        padding-bottom: 0;
    }

.srv-label{
    font-size: 14px;
    font-weight: 500;
}

.srv-h2 {
    font-size: 38px;
}
.srv-intro-content p{
    font-size: 16px;
    font-weight: 400;
}
.services_point li p{
    font-size: 13px;
}


.why_choose_section{
    padding: 60px 0;
}




}

@media (max-width: 1199.98px) {

    .nav-links li a {
        font-size: 16px;
        padding: 0px 8px;
    }

    .logo img {
        width: auto;
        height: 60px;
    }

    .hero h1 {
        font-size: 30px;
        max-width: 648px;
        margin: 0 auto 20px;
        padding: 20px 0;
    }

    .hero p {
        width: 70%;
        font-size: 15px;
    }

    .split-section {
        display: flex;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .we_offer_section .cards-grid {
        padding: 0;
        margin: 0;
    }

    .services_card_images {
        height: 85px;
        width: auto;
        margin: 14px auto;
    }

    .we_offer_section .card {
        width: 270px;
        padding: 32px 23px;
    }

    .we_offer_section .card h4 {
        font-size: 18px;
        padding: 14px 0;
    }

    .green-split {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .process-card h4 {
        font-size: 22px;
        font-weight: 500;
        margin: 9px auto;
    }

    .process-card {
        padding: 30px 25px;
    }

    .process-card p {
        font-size: 13px;
        font-weight: 400;
    }

    .how_it_work_section a {
        font-size: 12px;
        font-weight: 300;
        padding: 8px 22px;
    }

    .why_choose_section .wide-card img {
        height: 60px;
        width: auto;
    }

    .why_choose_section .wide-card {
        padding: 10px 12px;
        gap: 14px;
        width: 420px;
        height: 160px;
    }

    .wide-card-content h4 {
        font-size: 22px;
        padding-bottom: 8px;
    }

    .help_section {
        overflow: hidden;
        padding: 55px 0;
    }

    .help_section .card img {
        height: 63px;
    }

    .help_section .card h4 {
        font-size: 22px;
        margin-top: 15px;
    }

    .help_section .card a {
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 25px;
    }

    .cta_section .btn_Book {
        padding: 10px 28px;
        font-size: 14px;
        font-weight: 300;

    }

    .footer-links ul li {
        margin-bottom: 8px;
    }

    .footer-links ul li a {
        font-size: 13px;
        font-weight: 400;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 42px;
        margin-bottom: 10px;
    }

    footer {
        padding-bottom: 0;
    }

    nav.navbar.navbar-expand-lg.bg-body-tertiary {
        padding: 0;
    }

    .glass-card h2 {
        width: 100%;
        margin: 40px auto;
        font-size: 30px;
    }

    .about_contact p {
        margin-bottom: 15px;
    }

    .about_section {
        padding-bottom: 80px;
    }

    .value-card p {
        font-weight: 400;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .team-info h4 {
        font-size: 24px;
    }

    .team h6 {
        font-size: 13px;
    }

    .team-info p {
        font-size: 16px;
        margin: 10px auto;
    }


.glass-card h6 {
        font-weight: 400;
        font-size: 16px;
    }


.srv-h2 {
        font-size: 30px;
    }
    .srv-label {
        font-size: 14px;
        font-weight: 500;
    }

    .srv-intro-content p {
        font-size: 14px;
        font-weight: 400;
    }
    .services_point li p {
        font-size: 12px;
    }
.srv-badge{
    font-size: 18px;
    font-weight: 600;
}











}

@media (max-width: 991.98px) {

    .green-split {
        overflow: hidden !important;
    }


    .hero {
        height: 500px;
    }

    .hero .btn {
        display: block;
        font-size: 16px;
        cursor: pointer;
        font-weight: 300;
        padding: 7px 24px;
    }

    .logos-section h2 {
        font-size: 24px;
        font-weight: 500;
    }

    .logos-section p {
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
    }

    .logos-grid {
        gap: 20px;
    }

    .logos-grid span {
        font-size: 22px;
    }

    .about_section h3 {
        font-size: 29px;
        padding-bottom: 0;
        margin-bottom: 15px
    }

    .about_contact p {
        font-size: 14px;
    }

    .year-badge {
        top: -28px;
        right: 55px;
        padding: 15px 10px;
        border-radius: 19px;
        width: 171px;
        height: 70px;
    }

    .photo_text h5 {
        font-size: 24px;
        margin: 10px auto;
    }

    .photo_text p {
        font-size: 14px;
    }

    .about_section {
        padding-bottom: 54px;
    }

    .stats-section h2 {
        font-size: 23px;
        width: 80%;
        margin-bottom: 20px;
    }

    .stat-item h3 {
        font-size: 24px;
    }

    .stat-item h3 {
        margin-bottom: 10px;
    }

    .stat-item p {
        font-size: 14px;
        font-weight: 400;
    }

    .stat-item {
        border-right: 1px solid #fff;
        margin: 18px 4px 18px 4px;
        padding: 0px 31px 0px 17px;
    }

    .services_card_images {
        height: 64px;
        width: auto;
        margin: 3px auto;
    }

    .green-split h3 {
        font-size: 26px;
    }

    .green-split ul {
        margin: 0;
        padding: 0;
    }

    .green-split ul h4 {
        font-size: 22px;
    }

    .green-split ul p {
        font-size: 16px;
    }

    .section-padding {
        padding: 60px 0;
    }

    .process-card i {
        margin: 10px auto;
        font-size: 22px;
    }

    .process-card h4 {
        font-size: 18px;
        margin: 9px auto;
    }

    .process-card p {
        font-size: 12px;
    }

    .how_it_work_section a {
        font-size: 12px;
        font-weight: 300;
        padding: 6px 19px;
    }

    .cards-grid {
        gap: 20px;
    }

    .process-card {
        padding: 18px 10px;
    }

    .how_it_work_section h2 {
        font-size: 26px;
    }

    .why_choose_section h2 {
        font-size: 26px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .why_choose_section .wide-card img {
        height: 46px;
        width: auto;
    }

    .why_choose_section .wide-card {
        padding: 18px 19px;
        gap: 14px;
        width: 300px;
        height: 170px;
    }

    .wide-card-content h4 {
        font-size: 20px;
        padding-bottom: 8px;
    }

    .help_section h2 {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .help_section .card img {
        height: 45px;
    }

    .help_section .card h4 {
        font-size: 18px;
        margin-top: 15px;
    }

    .help_section .card p {
        font-size: 13px;
        padding-bottom: 19px;
        margin: 5px auto;
    }

    .help_section .card a {
        font-size: 10px;
        padding: 6px 12px;
    }



    .cta-box h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .cta_section .btn_Book {
        padding: 8px 27px;
        font-size: 12px;
        font-weight: 300;
    }

    .cta_section .btn_start {
        padding: 8px 27px;
        font-size: 12px;
        font-weight: 300;
    }

    .logo img {
        width: auto;
        height: 45px;
    }

    .footer-grid p {
        font-size: 12px;
        font-weight: 300;
    }

    .footer-links ul {
        padding: 0;
        margin: 0;
    }

    .footer-links ul li {}

    .footer-links ul li a {
        font-size: 12px;
        font-weight: 300;
    }

    .socials a {
        color: white;
        margin-right: 0px;
        font-size: 1.2rem;
    }

    .footer-links h4 {
        font-size: 18px;
        margin-bottom: 42px;
    }

    .footer_bottom a {
        font-size: 14px;
    }


    .glass-card {
        padding: 40px 25px;
    }

    .glass-card h6 {
        font-size: 18px;
        font-weight: 300;
    }

    .glass-card p {
        font-weight: 400;
        font-size: 16px;
    }

    .badge {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
    }


    .text_top_values h2 {
        font-size: 30px;
    }

    .text_top_values h4 {
        font-size: 18px;
    }

    .value-card {
        padding: 24px 14px;
    }

    .team.container.inner_section {
        margin-top: 118px;
    }


.srv-intro-flex{
    display: flex;
    flex-wrap: wrap;
     flex-direction: column;
}
.srv-intro-content.reveal-left.active-reveal.active{
    width: 100%;
}
.srv-intro-image-area.reveal-right.active-reveal.active{
    width: 100% ;
}

.srv-intro-img {
    width: 100%;
    border-radius: 15px;
    height: 450px;
    object-fit: cover;
}
.stats-grid{
    bottom: -143px;
}



}


@media (max-width: 767.98px) {


    .animate-on-scroll {
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.8s ease-out;
    }

    .animate-on-scroll.active-scroll {
        opacity: 1;
        transform: translateY(0);
    }

    /* ========== Animation 2 ========== */
    .reveal,
    .reveal-left,
    .reveal-right {
        opacity: 0;
        transition: all 0.9s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .reveal {
        transform: translateY(60px);
    }

    .reveal-left {
        transform: translateX(-50px);
    }

    .reveal-right {
        transform: translateX(50px);
    }

    .reveal.active-reveal,
    .reveal-left.active-reveal,
    .reveal-right.active-reveal {
        opacity: 1;
        transform: translate(0, 0);
    }


    a {
        text-decoration: none;
        color: inherit;
        transition: 0.3s;
    }

    .hero {
        height: 350px;
    }

    .hero h1 {
        font-size: 22px;
    }

    .hero p {
        width: 85%;
        font-size: 13px;
    }

    .hero .btn {
        display: block;
        font-size: 12px;
        cursor: pointer;
        font-weight: 300;
        padding: 7px 24px;
    }

    .logos-section h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .logos-section p {
        font-size: 13px;
        width: 80%;
        margin: 0 auto;
        padding: 5px 0;
    }

    .logos-grid {
        gap: 12px;
    }

    .logos-grid span {
        font-size: 14px;
    }

    .section-padding {
        padding: 40px 0;
    }

    .about_section h3 {
        font-size: 24px;
        font-weight: 500;
    }

    .about_contact p {
        font-size: 13px;
    }

    .btn-primary {
        padding: 10px 27px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 13px;
    }

    .photo_text p {
        font-size: 13px;
    }

    .stats-section h2 {
        font-size: 20px;
        width: 80%;
        margin-bottom: 20px;
    }

    .stats-section {
        margin-bottom: 100px;
    }

    .stats-grid {
        bottom: -113px;
    }

    .stat-item h3 {
        font-size: 16px;
    }

    .stat-item p {
        font-size: 10px;
        font-weight: 400;
    }


    .stat-item {
        border-right: 1px solid #fff;
        margin: 12px 0px 12px 0px;
        padding: 0px 26px 0px 3px;
    }

    .we_offer_section h2 {
        font-size: 20px;
    }

    .we_offer_section .card h4 {
        font-size: 15px;
        padding: 5px 0;
    }

    .we_offer_section .card {
        width: 230px;
        padding: 26px 12px;
    }

    .we_offer_section .cards-grid {
        gap: 10px;
    }

    .services_card_images {
        height: 50px;
        width: auto;
        margin: 3px auto;
    }

    .green-content {
        padding: 46px;
    }

    .green-split h3 {
        font-size: 20px;
    }

    .green-split ul h4 {
        font-size: 16px;
    }

    .green-split ul p {
        font-size: 12px !important;
    }

    .feature-list li {
        margin-bottom: 20px;
        gap: 12px;
        padding: 12px 10px;
    }

    .how_it_work_section h2 {
        font-size: 22px;
        margin-bottom: 28px;
    }

    .cards-grid {
        flex-wrap: wrap;
    }

    .process-card h4 {
        margin-top: 0;
    }

    .why_choose_section h2 {
        font-size: 21px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .why_choose_section .wide-card {
        padding: 12px 16px;
        gap: 14px;
        width: 450px;
        height: auto;
    }

    .help_section .card {
        text-align: center;
    }

    .cta-box h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .cta-box p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .footer-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 68px;
    }

    .glass-card {
        padding: 30px 25px;
    }

    .glass-card h2 {
        width: 100%;
        margin: 32px auto;
        font-size: 26px;
        font-weight: 400;
    }

    .glass-card p {
        font-weight: 300;
        font-size: 14px;
    }

    .about_contact h4 {
        font-size: 18px;
    }

    .values_section .grid-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .value-card {
        padding: 17px 23px;
        height: auto;
    }

    .team_section h2 {
        font-size: 26px;
    }

    .team-card img {
        width: 100%;
        height: 190px;
    }

    .team-info h4 {
        font-size: 18px;
    }

    .team h6 {
        font-size: 12px;
        font-weight: 300;
    }

    .team-info p {
        font-size: 13px;
        font-weight: 400;
    }

    .team_flex {
        gap: 15px;
    }

.hero-title{
    height: 400px;
 }
    .services_point li p {
        font-size: 14px;
    }

.we_offer_section .card h4 {
    height: 42px;
}

.why_choose_section {
        padding: 40px 0;
    }










}

@media (max-width: 575.98px) {

    /* ========== Base Animation Setup ========== */
    .animate-on-scroll,
    .reveal,
    .reveal-left,
    .reveal-right {
        opacity: 0;
        transition: transform 0.8s ease, opacity 0.8s ease;
        will-change: transform, opacity;
    }

    /* Bottom Reveal */
    .animate-on-scroll,
    .reveal {
        transform: translateY(40px);
    }

    /* Left Reveal */
    .reveal-left {
        transform: translateX(-40px);
    }

    /* Right Reveal */
    .reveal-right {
        transform: translateX(40px);
    }

    /* Active State */
    .active-scroll,
    .active {
        opacity: 1;
        transform: translate(0, 0);
    }



    nav.navbar.navbar-expand-lg.bg-body-tertiary {
        padding: 0;
    }

    .logo img {
        width: auto;
        height: 48px;
    }

    .hero {
        height: 380px;
    }

    .hero h1 {
        font-size: 22px;
        max-width: 319px;
        margin: 0 auto 20px;
        padding: 15px 0;
    }

    .hero p {
        width: 95%;
        font-size: 13px;
    }

    .hero-btns {
        margin-top: 18px;
        display: flex;
        gap: 0;
        justify-content: center;
        flex-wrap: wrap;
        font-family: var(----font-para);
    }

    .hero .btn {
        display: block;
        font-size: 12px;
        cursor: pointer;
        font-weight: 300;
        padding: 7px 24px;
        font-family: var(----font-para);
    }

    .btn-outline {
        font-family: var(----font-para);
        border: 1px solid #fff;
    }

    .logos-section p {
        font-size: 13px;
        width: 94%;
        margin: 0 auto;
        padding: 10px 0;
    }

    .logos-grid span {
        font-size: 13px;
        background-color: #ffffff59;
        padding: 8px 17px;
        border-radius: 5px;
    }

    .logos-grid {
        display: flex;
        justify-content: center;
    }

    .year-badge {
        top: -27px;
        right: 33px;
        padding: 11px 10px;
        border-radius: 12px;
        width: 171px;
        height: 70px;
    }

    .image-wrapper::after {
        opacity: .8;
    }

    .stats-section h2 {
        font-size: 20px;
        width: 100%;
        margin-bottom: 24px;
    }

    .stat-item {
        border-right: 1px solid #fff;
        margin: 9px 0px 7px 0px;
        padding: 0px 5px 0px 6px;
    }

    .stat-item h3 {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-bottom: 5px;
    }

    .stat-item p {
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 0;
        margin-bottom: 25px;
    }

    .stats-grid {
        bottom: -131px;
    }

    .badge {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .we_offer_section .card {
        width: auto;
        padding: 22px 18px;
    }

    .we_offer_section .card p {
        font-size: 13px;
        font-weight: 300;
        margin: 12px 0;
    }

    .we_offer_section .card h4 {
        font-size: 18px;
        padding: 4px 0;
        margin-bottom: 0;
    }

    .services_card_images {
        height: 60px;
    }

    .green-content {
        padding: 52px 28px;
    }

    .green-split ul h4 {
        font-size: 19px;
    }

    .green-split ul p {
        font-size: 14px !important;
        line-height: 17px;
        padding: 6px 0;
    }

    .process-card p {
        font-size: 13px;
    }

    .process-card {
        padding: 21px 22px;
    }

    .process-card i {
        margin: 10px auto;
        font-size: 35px;
    }

    .how_it_work_section a {
        font-size: 12px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 8px 15px;
        width: 40%;
    }

    .why_choose_section h2 {
        font-size: 22px;
        width: 95%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .wide-card-content p {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .why_choose_section .wide-card {
        padding: 16px 20px;
        gap: 20px;
        width: 450px;
        height: auto;
    }

    .wide-card-content h4 {
        font-size: 20px;
        padding-bottom: 4px;
    }

    .help_section h2 {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .help_section .card h4 {
        font-size: 20px;
        margin-top: 15px;
    }

    .help_section .card p {
        font-size: 14px;
        padding-bottom: 10px;
        margin: 5px auto;
    }

    .help_section .card a {
        font-size: 10px;
        padding: 10px 12px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-weight: 300;
        font-family: var(----font-para);
    }

    .cta-box {
        padding: 40px 13px;
        border-radius: 20px;
        margin-bottom: -56px;
    }

    .footer-grid p {
        font-size: 13px;
        font-weight: 300;
    }

    .footer-links ul li a {
        font-size: 13px;
        font-weight: 500;
        padding: 0;
        margin: 0;
    }

    .footer-links {
        width: 45%;
        margin-bottom: 20px;
    }

    .bottom_footer_part {
        display: flex !important;
        flex-wrap: wrap;
        gap: 0;
        align-items: center;
        justify-content: center !important;
        gap: 2px;
        padding: 10px 20px !important;
    }

    .bottom_footer_part p {
        margin-bottom: 3px;
        font-size: 11px;
    }

    .footer_bottom a {
        font-size: 11px;
    }

    .footer-links h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .footer-links ul li {
        margin-bottom: 2px;
    }

    .footer-grid {
        gap: 20px;
    }

    .footer_bottom {
        font-size: 11px;
    }

    .glass-card h6 {
        font-size: 15px;
        font-weight: 300;
    }

    .glass-card h2 {
        width: 100%;
        margin: 25px auto;
        font-size: 20px;
        font-weight: 400;
    }

    .glass-card {
        padding: 23px 24px;
    }

    .about_section h3 {
        font-size: 20px;
        font-weight: 500;
    }

    .about_contact h4 {
        font-size: 16px;
    }

    .about_contact p {
        margin-bottom: 0px;
    }

    .year-badge small {
        font-size: 14px;
        text-align: center;
        font-weight: 600;
    }

    .photo_text h5 {
        font-size: 20px;
        margin: 10px auto;
    }

    .text_top_values h2 {
        font-size: 20px;
        margin: 10px auto;
    }

    .text_top_values h4 {
        font-size: 16px;
    }

    .values_section .value-card {
        padding: 16px 12px;
        width: 320px;
    }

    .value-card p {
        font-weight: 300;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .team.container.inner_section {
        margin-top: 0;
    }

    .team_flex {
        gap: 10px;
        flex-wrap: wrap;
    }

    .team_section h2 {
        font-size: 22px;
    }

    .team-info h4 {
        font-size: 20px;
    }
.inner_section{
    padding: 50px 0;
}

.glass-card {
        width: 90%;
    }
.srv-intro-flex {
    align-items: center;
    gap: 38px;
    padding: 45px 0;
}   
.srv-intro-img{
    height: auto;
}















}